<html>
<head>
	<% include ../header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/meetting.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript">

    	//구글맵 초기화
    	var marker;
    	function initMap() {
    		var meeting=<%-JSON.stringify(meeting)%>;
    		var _lat=Number(String(meeting[0].latlng).split(",")[0].split("(")[1].trim());
    		var _lng=Number(String(meeting[0].latlng).split(",")[1].split(")")[0].trim());

	        var map = new google.maps.Map(document.getElementById('map'), {
		        center: {lat: _lat, lng: _lng},
		        zoom: 17
	        });
	        marker = new google.maps.Marker({
		        position: {lat: _lat, lng: _lng},
		        draggable:true,
		        map:map
			});
			marker.addListener('dragend',function(){
				$('#latlng').attr("value",marker.getPosition());
			})
	        var geocoder = new google.maps.Geocoder();
	        $('#search_address').click(function() {
				geocodeAddress(geocoder, map, marker);
			});
    	}

		function geocodeAddress(geocoder, resultsMap, marker) {
			var address = $('#address').val();
			geocoder.geocode({'address': address}, function(results, status) {
			    if (status === google.maps.GeocoderStatus.OK) {
			      	resultsMap.setCenter(results[0].geometry.location);
			      	resultsMap.setZoom(17);
			      	marker.setPosition(results[0].geometry.location);
			      	$('input#latlng').val(marker.getPosition());
			    } else {
			    	alert('주소 확인 후 다시 입력해주세요');
			    }
			});
		}

		$(document).ready(function(){

			var meeting=<%-JSON.stringify(meeting)%>;

			$('#recipe').delegate('.ex_filename','change',function(){
				var imgnode = $(this).closest('li').children('img');
				imgnode.attr('src','/imgs/user/'+meeting[0].img);

				var reader = new FileReader();
				reader.onload = function(e){
					var src = e.target.result;
					imgnode.attr('src',src);
				}
				reader.readAsDataURL($(this)[0].files[0]);
			});

			$('input:text').keydown(function(event){
            	if(event.keyCode==13) return false;
            });

            //ajax통신
            $('#meeting_form').ajaxForm({
              dataType:'json',
              beforeSubmit:function(){
                var title=$('#title').val();
                var address=$('#address').val();

                $('#err_title').text("");
                $('#err_address').text("");
                $('#err_img').text("");

                if(!address){
                	$('#err_address').text("주소를 입력해주세요");
                	location.href="#bookmark_address";
                	return false;
                }
                else return true;
              },
              success:function(result){
                if(result['err']==0){
                  location.href='/meetings/show/'+meeting[0]._id;
                }
                else if(result['err']==1){
                  $('#err_title').text(result['msg']);
                }
              }
            });


		});
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8bk04KxVxc0fnprYkxr-NqfVGDY3SxgI&callback=initMap">
    </script>
</head>
<body>
<% include ../body.ejs %>
	<section class="sec_add_meetting">
		<h1>모임 수정하기</h1>
		<form id="meeting_form" action="/meetings/edit?_method=put" method="post" enctype="multipart/form-data">
			<dt><h2 id="bookmark_title">모임 제목</h2></dt>
			<dd><input type="text" name="title" id="title" readonly="readonly" value="<%=meeting[0].title%>"><br><span id="err_title" class="err_msg"></span></dd>
			<dt><h2>모임 내용</h2></dt>
			<dd><textarea  name="text" id="text"><%=meeting[0].text%></textarea></dd>
			<dt><h2>모임 날짜</h2></dt>
			<dd><input type="date" name="date" id="date" value="<%=meeting[0].date%>"></dd>
			<dt><h2>모임 시간</h2></dt>
			<dd><input type="time" name="time" id="time" value="<%=meeting[0].time%>"></dd>
			<dt><h2 id="bookmark_address">모임 장소</h2></dt>
			<dd>
				<input type="text" name="address" id="address" value="<%=meeting[0].address%>"><input type="button" id="search_address" value="검색">
				<br><span id="err_address" class="err_msg"></span>
				<div id="map"></div>
			</dd>
			<dt><h2 id="bookmark_img">사진 첨부</h2></dt>
			<dd>
				<ul class="lst_mate" id="recipe">
					<li class="recipe-info" id="upload_li">
						<img src="/imgs/user/<%=meeting[0].img%>" id="upload_img">
						<label for="ex_filename" id="upload_btn">업로드</label>
						<input type="file" class="rgt upload-hidden ex_filename" name="userPhoto" id="ex_filename" accept="image/*">
						<br><span id="err_img" class="err_msg"></span>
					</li>
				</ul>
			</dd>
			<input type="hidden" id="latlng" name="latlng" value="<%=meeting[0].latlng%>">
			<div class="btn_area">
				<input type="submit" id="submit_btn" value="완료">
			</div>
		</form>
	</section>
<% include ../footer.ejs %>
</body>
</html>
