<html>
<head>
	<% include ../header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/meetting.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">

    var map;
   	var markers=[];
    var infowindows=[];
    function initMap() {
	        map = new google.maps.Map(document.getElementById('map'), {
	          center: {lat: 37.56641923090, lng: 126.9778741551},
	          zoom: 9
        });


		var temp_content;
		var _lat,_lng;
		var location= <%-JSON.stringify(location)%>;
    	for(i=0;i<location.length ;i++) {
            temp_content = "<div class='map_spot_container'><h3 class='title'>" +location[i].title+"</h3>"
                    + "<div class='map_spot_info'>"
                    + "<ul><li><label><i class='fa fa-calendar-check-o' aria-hidden='true'></i>모임날짜</label>"
                    + "<span class='time'>" + location[i].date + "</span></li>"
                    + "<li><label><i class='fa fa-clock-o' aria-hidden='true'></i>모임시간</label>"
                    + "<span class='time'>" + location[i].time + "</span></li>"
                    + "<li><img class='map_user_img' src='/imgs/user/" + location[i].user[0].img +"' width='30' height='30' >"+
                    "<strong>" + location[i].user[0].name + "</strong>"
                    + "</li>"
                    + "<li><a class='map_spot_btn' href='/meetings/show/"+location[i]._id +"'>보러가기</a></li></ul></div>"
                    + "<img class='map_spot_img' src='/imgs/user/" + location[i].img + "'  width='110' height='110' ></div>";

    		infowindows[i]=new google.maps.InfoWindow({
	          content:temp_content
	        });

    		_lat=Number(String(location[i].latlng).split(",")[0].split("(")[1].trim());
    		_lng=Number(String(location[i].latlng).split(",")[1].split(")")[0].trim());

    		markers[i]=new google.maps.Marker({
	          position:{lat: _lat, lng: _lng},
	          map:map,
	          animation: google.maps.Animation.DROP
	        });
	        google.maps.event.addListener(markers[i], 'click', (function(marker, i) {
			  return function() {
			    infowindows[i].open(map, markers[i]);
			  }
			})(markers[i], i));
    	}
      }

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8bk04KxVxc0fnprYkxr-NqfVGDY3SxgI&callback=initMap">
    </script>

</head>
<body>
<% include ../body.ejs %>
	<br><br><br><br><br><br>
<div class="meeting_header">
    <div class="inner">
        <h1>함께하고 싶은사람 모여라</h1>
        <div id="map" class="main_map"></div>
    </div>
</div>
	<div id="temp"></div>
<div class="meeting_content">
    <div class="inner">
        <div class="item">
            <ol class="main_recipe">
              <% for(i=0;i<location.length;i++){ %>
                <li>
                    <a class="recipe tumb" href="/meetings/show/<%=location[i]._id %>">
                        <img src="/imgs/user/<%=location[i].img%>">
                    </a>
                    <span class="author">
                      <a href="">
                        <img src="/imgs/user/<%=location[i].user[0].img%>">
                      </a>
                      <strong>
                        <a><%=location[i].user[0].name%></a>
                      </strong>
                    </span>
                    <p>
                        <a class="call_recipe"> <%=location[i].title%> </a>
                    </p>
                    <span class="date"><%=location[i].date%></span>
                    <% if(location[i].address.length>5){ %>
                    <span class="spot"><%=location[i].address.substr(0,5)+"..." %></span>
                    <% } else{ %>
                    <span class="spot"><%=location[i].address%></span>
                    <% } %>
                </li>
              <% } %>
            </ol>
        </div>
        <section class="meetting-bottom">
            <form class="meetting_search" accept-charset="UTF-8" method="get" action="/meetings/main/title">
                <input name="utf8" type="hidden" value="✓">
                <fieldset>
                    <legend>레시피 검색</legend>
                    <select name="search_opt">
                        <option value="title" selected="selected">제목</option>
                        <option value="author">작성자</option>
                        <option value="address">주소</option>
                    </select>
                    <input id="select_input" type="text" name="value" placeholder="검색해주세요." autocomplete="off">
                    <button type="submit">검색</button>
                </fieldset>
            </form>
        </section>
    </div>
</div>
<% include ../footer.ejs %>
</body>
</html>
