<html>
<head>
    <% include ../header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/meetting_show.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            var session=<%-JSON.stringify(session)%>;
            var meeting=<%-JSON.stringify(meeting)%>;

            //댓글을 추가하기 위한 ajax
            $('#new_comment').submit(function(event){
                event.preventDefault();
                if(!session){
                    alert('로그인이 필요합니다');
                }
                else{
                    var title=meeting[0].title;
                    var email=session.email;
              var comment=$('textarea#comment_comment').first().val();

              if(comment==""){
                alert('내용을 입력해주세요');
              }
              else{
                $.ajax({
                  url:'/reple/new',
                  dataType:'json',
                  type:'POST',
                  data:{
                    'title':title,
                    'email':email,
                    'comment':comment
                  },
                  success:function(result){
                    if(result['err']==0){
                      var new_reple=$('<li></li>').addClass("");
                      new_reple.append($('<div></div>').addClass("img-cover"));
                      new_reple.children('div').first().append($('<img />').addClass("img_user").attr('src','/imgs/user/'+session.img).attr('alt','Img user blank'));
                      new_reple.append($('<strong></strong>').text(session.name));
                      new_reple.append($('<time></time>').text(result['date']));
                      new_reple.append($('<p></p>').text(result['comment']));

                      $('ul.lst_comment').append(new_reple);
                      $('textarea#comment_comment').first().val("");
                    }
                  }
                });
              }
                }
        });

        //모임 삭제를 위한 ajax
        $('input#delete_post').click(function(event){
            event.preventDefault();
            if(!session){
                location.href="/";
            }
            else{
                $.ajax({
                    url:'/meetings/del/'+meeting[0]._id,
                    dataType:'json',
                    type:'DELETE',
                    success:function(result){
                        if(result['err']==0){
                            alert("삭제되었습니다");
                            location.href='/meetings/show';
                        }
                    }
                });
            }
        });
        });
    </script>
    <script type="text/javascript">
        //구글맵 초기화
        var map;
        function initMap() {
            var meeting= <%-JSON.stringify(meeting)%>;
            _lat=Number(String(meeting[0].latlng).split(",")[0].split("(")[1].trim());
            _lng=Number(String(meeting[0].latlng).split(",")[1].split(")")[0].trim());
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: _lat, lng: _lng},
                zoom: 15
            });

            var maker1=new google.maps.Marker({
                position:{lat: _lat, lng: _lng},
                map:map,
                animation: google.maps.Animation.DROP
            });

        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8bk04KxVxc0fnprYkxr-NqfVGDY3SxgI&callback=initMap">
    </script>

</head>
<body>
<% include ../body.ejs %>

<div class="container">
    <div class="meeting_header">
        <div class="inner main_inner">
            <section class="meeting_show_header">
                <h1 id="title"><%=meeting[0].title%></h1>
                <div class="author-area">
                    <div class="user-area">
                        <img class="user-tumb" src="/imgs/user/<%=meeting[0].user[0].img%>">
                        <strong class="user-ID"><%=meeting[0].user[0].name%></strong>
                    </div>
                    <div class="user-link">
                        <a href="/posts/search/author/<%=meeting[0].user[0]._id%>">
                        <input class="link-btn" type="button" value="작성자의 다른 레시피 보러가기"></input></a>
                        <a href="/meetings/search/author/<%=meeting[0].user[0]._id%>">
                        <input class="link-btn" type="button" value="작성자의 다른 모임 보러가기"></input></a>
                    </div>
                    <% if(session){ %>
                    <% if(meeting[0].user[0].email==session.email){ %>
                    <div class="btn-area">
                        <a href="/meetings/edit/<%=meeting[0]._id%>">
                        <input class="link-btn" type="button" value="수정"></input></a>
                        <a href="">
                        <input class="link-btn" type="button" id="delete_post" value="삭제"></input></a>
                    </div>
                    <% }} %>
                </div>
                <div class="time-area">
                    <label><i class="fa fa-calendar-check-o" aria-hidden="true"></i>모임날짜</label>
                    <span class="time"><%=meeting[0].date%></span>
                    <label><i class="fa fa-clock-o" aria-hidden="true"></i>모임시간</label>
                    <span class="time"><%=meeting[0].time%></span>
                </div>
                <div class=spot-area">
                    <label><i class="fa fa-map-marker" aria-hidden="true"></i>모임장소</label>
                    <span class="amount"><%=meeting[0].address%></span>
                </div>
                <div class="img-map-area">
                    <img src="/imgs/user/<%=meeting[0].img%>">
                    <div id="map"></div>
                </div>
            </section>
            <seciont class="meeting_show_content">
                <div class="text">
                    <h2>모임 내용</h2>
                    <textarea class="text_content" disabled ><%=meeting[0].text%></textarea>
                </div>
            </seciont>
            <% include ../reply.ejs%>
        </div>
    </div>
</div>
<% include ../footer.ejs %>
</body>
</html>
