<html>
  <head>
    <% include ./header.ejs %>
  </head>
  <body>
    <% include ./body.ejs %>
    <div id="container">
        <div class="main_banner">
          <div class="main_banner_img">
            <ul>
              <li class="img1">
              </li>
              <li class="img2">
              </li>
              <li class="img3">
              </li>
            </ul>
          </div>
        </div>
      <section class="sec_main_recipe">
        <div style="width:100%; height: 600px;">
          <dl class="inner">
            <dt>
            <h3>
              음식은 맛이지!<br>
              <strong>"맛으로 먹보"</strong>
            </h3>
            <div calss="btn_area">
              <a class="btn_more" href="/posts/search/taste"> 더보기 </a>
            </div>
            </dt>
            <dd>
              <ol class="main_recipe">
                <% for(i=0;i<taste.length;i++){ %>
                <li>
                      <a class="recipe tumb" href="/posts/show/<%=taste[i]._id %>">
                          <img src="/imgs/user/<%=taste[i].recipe[0].img %>">
                      </a>
                      <span class="difficulty text_shadow">
                난이도
                <strong><%=taste[i].diff %></strong>
              </span>
                      <span class="flavor text_shadow">
                맛
                <strong><%=taste[i].taste %></strong>
              </span>
                      <span class="author">
                <a herf="">
                  <img src="/imgs/user/<%=taste[i].user[0].img %>">
                </a>
                <strong>
                  <a><%=taste[i].user[0].name %></a>
                </strong>
              </span>
                      <p>
                          <a class="call_recipe"> <%=taste[i].title %> </a>
                      </p>
                  </li>
                <% if(i==3) break; %>
                <% } %>

              </ol>
            </dd>
          </dl>
        </div>
        <div class="orange">
          <dl class="inner">
            <dt>
            <h3>
              간단한게 좋아!<br>
              <strong>"따라해 먹보"</strong>
            </h3>
            <div calss="btn_area">
              <a class="btn_more" href="/posts/search/diff"> 더보기 </a>
            </div>
            </dt>
            <dd>
              <ol class="main_recipe">

                <% for(i=0;i<diff.length;i++){ %>
                <li>
                      <a class="recipe tumb" href="/posts/show/<%=diff[i]._id %>">
                          <img src="/imgs/user/<%=diff[i].recipe[0].img %>">
                      </a>
                      <span class="difficulty text_shadow">
                난이도
                <strong><%=diff[i].diff %></strong>
              </span>
                      <span class="flavor text_shadow">
                맛
                <strong><%=diff[i].taste %></strong>
              </span>
                      <span class="author">
                <a herf="">
                  <img src="/imgs/user/<%=diff[i].user[0].img %>">
                </a>
                <strong>
                  <a><%=diff[i].user[0].name %></a>
                </strong>
              </span>
                      <p>
                          <a class="call_recipe"> <%=diff[i].title %> </a>
                      </p>
                  </li>
                <% if(i==3) break; %>
                <% } %>

              </ol>
            </dd>
          </dl>
        </div>
      </section>
      <section>
      </section>
    </div>

    </div>
    </div>
    <% include ./footer.ejs %>
  </body>
</html>
