<html>
<head>
	<% include ../header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/list.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
        $(document).ready(function(){
            
        });
    </script>
</head>
<body>
<% include ../body.ejs %>
    <div id="container">
    <section class="sec_main_recipe">
        <div style="width:100%;">
            <dl class="inner">
                <dt>
                <h3>
                    해당하는 레시피가 <bold><%=list.length%></bold>개 있습니다.
                </h3>
                </dt>
                <dd>
                    <ol class="main_recipe">

                    <% if(list) { %>
                    <% for(i=(now_page-1)*12 ;i<list.length;i++) { %>


                        <li>
                            <a class="recipe tumb" href="/posts/show/<%=list[i]._id %>">
                                <img src="/imgs/user/<%=list[i].recipe[0].img %>">
                            </a>
                            <span class="difficulty">
                      난이도
                      <strong><%=list[i].diff %></strong>
                    </span>
                            <span class="flavor">
                      맛
                      <strong><%=list[i].taste %></strong>
                    </span>
                            <span class="author">
                      <a herf="">
                        <img src="/imgs/user/<%=list[i].user[0].img %>">
                      </a>
                      <strong>
                        <a><%=list[i].user[0].name %></a>
                      </strong>
                    </span>
                            <p>
                                <a class="call_recipe"> <%=list[i].title %> </a>
                            </p>
                        </li>
                    	<%if(i==11){break;}%>
                    <% } %>
                    <% } else { %>

                    <% } %>

                        
                    </ol>
                    <% var start_point=Math.floor(now_page/5)*5; %>
                    <% var last_point=Math.floor(total_page/5)*5+1; %>
                    <% var before_point=Math.floor(now_page/5)*5-4; %>
                    <% var after_point=Math.floor(now_page/5)*5+6; %>
                    
                    <div class="paging">
                        <% if(total_page>4) { %>
                        <a href="/posts/search/<%=type%>?value=<%=key%>&page=1"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                        <a href="/posts/search/<%=type%>?value=<%=key%>&page=<%=before_point%>"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                        <a href="/posts/search/<%=type%>?value=<%=key%>&page=<%=i+1%>"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                        <% } %>
                        <% for(i=start_point;i<total_page+1;i++){ %>
                        <% if(i+1==now_page){ %>
                        <a href="/posts/search/<%=type%>?value=<%=key%>&page=<%=i+1%>" style="color:red;"><%=i+1%></a>
                        <% }else{ %>
                        <a href="/posts/search/<%=type%>?value=<%=key%>&page=<%=i+1%>"><%=i+1%></a>
                        <% } %>
                        <% if(i==start_point+4) break; %>
                        <% } %>
                        <% if(total_page>4) { %>
                        <a href="/posts/search/<%=type%>?value=<%=key%>&page=<%=after_point%>"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <a href="/posts/search/<%=type%>?value=<%=key%>&page=<%=last_point%>"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        <% } %>
                    </div>
                </dd>
            </dl>
        </div>
    </section>
    <section class="list-bottom">
        <form class="list_search" accept-charset="UTF-8" method="get" action="/posts/search/title">
            <input name="utf8" type="hidden" value="✓">
            <fieldset>
                <legend>레시피 검색</legend>
                <select name="search_opt">
                    <option value="title" selected="selected">음식명</option>
                    <option value="author">작성자</option>
                    <option value="ingredient">재료</option>
                </select>
                <input id="select_input" type="text" name="value" placeholder="검색해주세요." autocomplete="off">
                <button type="submit">검색</button>
            </fieldset>
        </form>
    </section>
</div>
<% include ../footer.ejs %>
</body>
</html>
