<html>
<head>
    <% include ../header.ejs %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/post.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            var fileTarget = $('.lst_mate .upload-hidden');

            fileTarget.on('change', function(){  // 값이 변경되면
                if(window.FileReader){  // modern browser
                    var filename = $(this)[0].files[0].name;
                }
                else {  // old IE
                    var filename = $(this).val().split('/').pop().split('\\').pop();  // 파일명만 추출
                }

                // 추출한 파일명 삽입
                $(this).siblings('.upload-name').val(filename);
            });

            $("#btn_add").click(function () {
                var i = <li class="ui-sortable-handle">;
                i+=<input type="text" class="lft input-infred" name="name" placeholder="재료명 (예. 묵은김치)">;
                i+=<input type="text" class="rgt input-amount ui-autocomplete-input" name="amount" placeholder="분량">;
                i+=<button type="botton" class="btn_del" onclick="delete_infredient(this)">삭제</button>;
                i+=</li>;
                $("#ingredients").append(i);
            });
        });

        function addIngredient(){
            var liTag=document.createElement('li');
            liTag.setAttribute('class','ui-sortable-handle');
            liTag.innerHTML="<input type='text' class='lft input-infred' name='name' placeholder='재료명 (예. 묵은김치)'>";
            liTag.innerHTML+="<input type='text' class='rgt input-amount ui-autocomplete-input' name='amount' placeholder='분량'>";
            liTag.innerHTML+="<button type='botton' class='btn_del' onclick='delete_infredient(this)'>삭제</button>";
            document.getElementById('ingredients').appendChild(liTag);
        }
        function addRecipe(){
            var liTag=document.createElement('li');
            liTag.setAttribute('class','recipe-info');
            liTag.innerHTML="<input type='text' class='lft' name='comment' placeholder='조리과정을 순서대로 입력해 주세요'>";
            liTag.innerHTML+="<input type='file' class='rgt upload-hidden' name='userPhoto'>";
            liTag.innerHTML+="<input class='rgt upload-name' value='파일선택' disabled='disabled'>";
            document.getElementById('recipe').appendChild(liTag);
        }


    </script>
</head>
<body>
<% include ../body.ejs %>
    <div id="container">
        <div id="content">
            <section class="sec_add_recipe">
                <h1>레시피 등록하기</h1>
                <div>
                    <form class="simple_form_new_recipe" id="new_recipe" accept-charset="UTF-8" method="post" action="/posts/new" enctype="multipart/form-data">
                        <fieldset>
                            <dl>
                                <dt>
                                <h2>제목 입력하기</h2>
                                </dt>
                                <dd>
                                    <div class="dd-chunk">
                                        <input placeholder="레시피의 제목을 입력해주세요" type="text" name="title" value="<%=title%>">
                                        <div class="input-error"></div>
                                    </div>
                                    <span class="err_msg"><%=err_title%></span>
                                </dd>
                                <dt class="mate">
                                <h2>음식정보</h2>
                                </dt>
                                <dd>
                                    <div class="dd-chunk">
                                        <ul class="lst_mate">
                                            <li class="food-info">
                                                <input class="rgt" placeholder="조리분량" type="text" name="cookAmount" value="<%=cookAmount%>">인분
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dd-chunk">
                                        <ul class="lst_mate">
                                            <li class="food-info">
                            <span class="time">
                              조리시간 총
                            <input class="rgt" placeholder="조리시간" type="text" name="cookTime" value="<%=cookTime%>">분 소요
                            <span class="err_msg"><%=err_cookTime%></span>
                          </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dd-chunk">
                                        <h3>재료정보</h3>
                                        <ul class="lst_mate ui-sortable" id="ingredients">
                                            <li class="ui-sortable-handle">
                                                <input type="text" class="lft input-infred" name="name" placeholder="재료명 (예. 묵은김치)">
                                                <input type="text" class="rgt input-amount ui-autocomplete-input" name="amount" placeholder="분량">
                                                <button type="botton" class="btn_del" onclick="delete_infredient(this)">삭제</button>
                                            </li>
                                        </ul>

                                    </div>

                                    <span class="btn_add" onclick="addIngredient()">추가하기</span>
                                </dd>
                                <dt>
                                <h2>레시피 정보</h2>
                                </dt>
                                <dd>
                                    <div class="dd-chunk">
                                        <ul class="lst_mate" id="recipe">
                                            <li class="recipe-info">
                                                <input type="text" class="lft" name="comment" placeholder="조리과정을 순서대로 입력해 주세요">
                                                <input type="file" class="rgt upload-hidden" name="userPhoto">
                                                <input class="rgt upload-name" value="파일선택" disabled="disabled">
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="err_msg"><%=err_recipe%></span><% if(err_recipe) { %><br><% } %>
                                    <span class="btn_add" onclick="addRecipe()">추가하기</span>
                                </dd>
                                <dd>
                                  <input type="submit" value="완료">
                                </dd>
                            </dl>
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
