<html>
<head>
    <% include ../header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        var cnt=0;
        $(document).ready(function(){

            $('#ingredients').delegate('span','click',function(){
                $(this).parent().remove();
            });

            $('#recipe').delegate('span','click',function(){
                $(this).parent().remove();
            });

            $('#recipe').delegate('.ex_filename','change',function(){
                var imgnode = $(this).closest('li').children('img');
                imgnode.attr('src','/imgs/user/noimg.png');
                    
                var reader = new FileReader();
                reader.onload = function(e){
                    var src = e.target.result;
                    imgnode.attr('src',src);
                }
                reader.readAsDataURL($(this)[0].files[0]);
            });


        });

        function addIngredient(){
            var liTag=document.createElement('li');
            liTag.setAttribute('class','ui-sortable-handle');
            liTag.innerHTML="<input type='text' class='lft input-infred' name='name' placeholder='재료명 (예. 묵은김치)'>";
            liTag.innerHTML+="<input type='text' class='rgt input-amount ui-autocomplete-input' name='amount' placeholder='분량'>";
            liTag.innerHTML+="<span id='del_ingredient' style='cursor:default'>삭제</span>";
            document.getElementById('ingredients').appendChild(liTag);
        }
        function addRecipe(){
            var liTag=document.createElement('li');
            liTag.setAttribute('class','recipe-info');
            liTag.innerHTML="<img src='/imgs/user/noimg.png' id='upload_img'>";
            liTag.innerHTML+="<textarea class='lft' name='comment' placeholder='조리과정을 순서대로 입력해 주세요'></textarea>";
            liTag.innerHTML+="<label for='ex_filename"+cnt+"' id='upload_btn'>업로드</label> ";
            liTag.innerHTML+="<input type='file' class='rgt upload-hidden ex_filename' name='userPhoto' id='ex_filename"+cnt+"'>";
            liTag.innerHTML+="<span id='del_recipe' style='cursor:default'>삭제</span>";
            document.getElementById('recipe').appendChild(liTag);
            cnt++;
        }

    </script>
</head>
<body>
<% include ../body.ejs %>
    <div id="container">
        <div id="content">
            <section class="sec_add_recipe">
                <h1>레시피 등록하기</h1>
                <div>
                    <form class="simple_form_new_recipe" id="new_recipe" accept-charset="UTF-8" method="post" action="/posts/new" enctype="multipart/form-data">
                        <fieldset>
                            <dl>
                                <dt>
                                <h2>제목 입력하기</h2>
                                </dt>
                                <dd>
                                    <div class="dd-chunk">
                                        <input placeholder="레시피의 제목을 입력해주세요" type="text" name="title" value="<%=title%>">
                                        <div class="input-error"></div>
                                    </div>
                                    <span class="err_msg"><%=err_title%></span>
                                </dd>
                                <dt class="mate">
                                <h2>음식정보</h2>
                                </dt>
                                <dd>
                                    <div class="dd-chunk">
                                        <ul class="lst_mate">
                                            <li class="food-info">
                                                <input class="rgt" placeholder="조리분량" type="text" name="cookAmount" value="<%=cookAmount%>">인분
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dd-chunk">
                                        <ul class="lst_mate">
                                            <li class="food-info">
                            <span class="time">
                              조리시간 총
                            <input class="rgt" placeholder="조리시간" type="text" name="cookTime" value="<%=cookTime%>">분 소요
                            <span class="err_msg"><%=err_cookTime%></span>
                          </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dd-chunk">
                                        <h3>재료정보</h3>
                                        <ul class="lst_mate ui-sortable" id="ingredients">
                                            <li class="ui-sortable-handle">
                                                <input type="text" class="lft input-infred" name="name" placeholder="재료명 (예. 묵은김치)">
                                                <input type="text" class="rgt input-amount ui-autocomplete-input" name="amount" placeholder="분량">
                                            </li>
                                        </ul>

                                    </div>

                                    <span class="btn_add" onclick="addIngredient()">추가하기</span>
                                </dd>
                                <dt>
                                <h2>레시피 정보</h2>
                                </dt>
                                <dd>
                                    <div class="dd-chunk">
                                        <ul class="lst_mate" id="recipe">
                                            <li class="recipe-info" id="upload_li">
                                                <img src="/imgs/user/noimg.png" id="upload_img">
                                                <textarea class="lft" name="comment" placeholder="조리과정을 순서대로 입력해 주세요"></textarea>
                                                <label for="ex_filename" id="upload_btn">업로드</label> 
                                                <input type="file" class="rgt upload-hidden ex_filename" name="userPhoto" id="ex_filename">
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="err_msg"><%=err_recipe%></span><% if(err_recipe) { %><br><% } %>
                                    <span class="btn_add" onclick="addRecipe()">추가하기</span>
                                </dd>

                                <dt>
                                <h2>레시피 평가</h2>
                                </dt>
                                <dd>
                                    <div class="dd-chunk">
                                        <h3>맛 평가</h3>
                                        <ul class="lst_mate" id="recipe">
                                            <li class="recipe-info">
                                                <input type="number" step="0.1" min="1" max="5" class="lft" name="taste" placeholder="1.0~5.0 사이의 숫자를 입력해주세요">
                                            </li>
                                        </ul>
                                        <h3>난이도 평가</h3>
                                        <ul class="lst_mate" id="recipe">
                                            <li class="recipe-info">
                                                <input type="number" step="0.1" min="1" max="5" class="lft" name="diff" placeholder="1.0~5.0 사이의 숫자를 입력해주세요">
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="err_msg"><%=err_recipe%></span><% if(err_recipe) { %><br><% } %>
                                </dd>

                                <dd>
                                  <input type="submit" value="완료">
                                </dd>
                            </dl>
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
    </div>
<% include ../footer.ejs %>
</body>
</html>
