<html>
<head>
    <% include ../header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/post_show.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
        $(document).ready(function(){
            var session=<%-JSON.stringify(session)%>;
            var post=<%-JSON.stringify(post)%>;

            //댓글을 추가하기 위한 ajax
            $('#new_comment').submit(function(event){
                event.preventDefault();
                if(!session){
                    alert('로그인이 필요합니다');
                }
                else{
                    var title=post[0].title;
                    var email=session.email;
              var comment=$('textarea#comment_comment').first().val();

              if(comment==""){
                alert('내용을 입력해주세요');
              }
              else{
                $.ajax({
                  url:'/reple/new',
                  dataType:'json',
                  type:'POST',
                  data:{
                    'title':title,
                    'email':email,
                    'comment':comment
                  },
                  success:function(result){
                    if(result['err']==0){
                      var new_reple=$('<li></li>').addClass("");
                      new_reple.append($('<div></div>').addClass("img-cover"));
                      new_reple.children('div').first().append($('<img />').addClass("img_user").attr('src','/imgs/user/'+session.img).attr('alt','Img user blank'));
                      new_reple.append($('<strong></strong>').text(session.name));
                      new_reple.append($('<time></time>').text(result['date']));
                      new_reple.append($('<p></p>').text(result['comment']));

                      $('ul.lst_comment').append(new_reple);
                      $('textarea#comment_comment').first().val("");
                    }
                  }
                });
              }
                }
        });

        //레시피 삭제를 위한 ajax
        $('input#delete_post').click(function(event){
            event.preventDefault();
            if(!session){
                location.href="/";
            }
            else{
                $.ajax({
                    url:'/posts/del/'+post[0]._id,
                    dataType:'json',
                    type:'DELETE',
                    success:function(result){
                        if(result['err']==0){
                            alert("삭제되었습니다");
                            location.href='/';
                        }
                    }
                });
            }
        });
        });
    </script>
</head>
<body>
<% include ../body.ejs %>
<div id="container">
    <div class="inner main_inner">
        <section class="post_show_header">
            <h1 id="title"><%=post[0].title %></h1>
            <div class="author-area">
                <div class="user-area">
                    <img class="user-tumb" src="/imgs/user/<%=post[0].user[0].img%>">
                    <strong class="user-ID"><%=post[0].user[0].name%></strong>
                </div>
                <div class="user-link">
                    <a href="/posts/search/author/<%=post[0].user[0]._id%>">
                    <input class="link-btn" type="button" value="작성자의 다른 레시피 보러가기"></input></a>
                    <a href="/meetings/search/author/<%=post[0].user[0]._id%>"
                    <input class="link-btn" type="button" value="작성자의 다른 모임 보러가기"></input></a>
                </div>
                <% if(session){ %>
                <% if(post[0].user[0].email==session.email){ %>
                <div class="btn-area">
                    <a href="/posts/edit/<%=post[0]._id%>">
                    <input class="link-btn" type="button" value="수정"></input></a>
                    <input class="link-btn" type="button" id="delete_post" value="삭제"></input>
                </div>
                <% }} %>
            </div>
            <div class="time-area">
                <label><i class="fa fa-clock-o" aria-hidden="true"></i>조리시간</label>
                <span class="time"><%=post[0].cookTime %>min</span>
            </div>
            <div class="ingredient-area">
                <label><i class="fa fa-check-square-o" aria-hidden="true"></i>재료리스트</label>
                <% if(post[0].cookAmount){ %>
                <span class="amount"><%=post[0].cookAmount %>인분 기준</span>
                <% } %>
                <br>
                <% if(post[0].ingredient) { %>
                <% for(i=0;i<post[0].ingredient.length;i++) {%>
               <div class="item">
                   <span class="ingredient"><%=post[0].ingredient[i].name %></span>
                   <% if(post[0].ingredient[i].amount!="") { %>
                   <strong class="ingredient-amount"><%=post[0].ingredient[i].amount %></strong>
                   <% } %>
               </div>
               <% }}%>

            </div>
        </section>
        <h1 class="title">조리 방법</h1>
        <% if(post[0].recipe){ %>
        <section class="post_show_recipe">
            <% for(i=0;i<post[0].recipe.length;i++){ %>
            <div class="recipe-item">
                <img class="recipe_img" src="/imgs/user/<%=post[0].recipe[i].img %>">
                <span class="recipe_text"><%=i+1 %>. 
                <%if(post[0].recipe[i].comment){ %>
                <%-post[0].recipe[i].comment.replace(/\n/g,"<br>") %>
                <% } %>
                </span>
            </div>
            <% } %>
        </section>
        <% } %>
        <% include ../reply.ejs%>
    </div>
</div>
<% include ../footer.ejs %>
</body>
</html>
