<html>
<head>
    <% include ../header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/post_show.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
        $(document).ready(function(){

        });
    </script>
</head>
<body>
<% include ../body.ejs %>
<div id="container">
    <div class="inner">
        <section class="post_show_header">
            <h1><%=post[0].title %></h1>
            <div class="time-area">
                <label><i class="fa fa-clock-o" aria-hidden="true"></i>조리시간</label>
                <span class="time"><%=post[0].cookTime %>min</span>
            </div>
            <div class="ingredient-area">
                <label><i class="fa fa-check-square-o" aria-hidden="true"></i>재료리스트</label>
                <% if(post[0].cookAmount){ %>
                <span class="amount"><%=post[0].cookAmount %>인분 기준</span>
                <% } %>
                <br>
                <% if(post[0].ingredient) { %>
                <% for(i=0;i<post[0].ingredient.length;i++) {%>
               <div class="item">
                   <span class="ingredient"><%=post[0].ingredient[i].name %></span>
                   <% if(post[0].ingredient[i].amount!="") { %>
                   <strong class="ingredient-amount"><%=post[0].ingredient[i].amount %></strong>
                   <% } %>
               </div>
               <% }}%>

            </div>
        </section>
        <h1 class="title">조리 방법</h1>
        <% if(post[0].recipe){ %>
        <section class="post_show_recipe">
            <% for(i=0;i<post[0].recipe.length;i++){ %>
            <div class="recipe-item">
                <img class="recipe_img" src="/imgs/user/<%=post[0].recipe[i].img %>">
                <span class="recipe_text"><%=i+1 %>. 
                <%if(post[0].recipe[i].comment){ %>
                <%-post[0].recipe[i].comment.replace(/\n/g,"<br>") %>
                <% } %>
                </span>
            </div>
            <% } %>
        </section>
        <% } %>
    </div>
</div>
<% include ../footer.ejs %>
</body>
</html>
